<!DOCTYPE html>
<html>
<head>
<!-- 	<link rel="stylesheet" type="text/css" href="/css/cart.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user.css">
	<link rel="stylesheet" type="text/css" href="/css/modal.css">
	<link rel="stylesheet" type="text/css" href="/css/slide.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/search.css">
	<link rel="stylesheet" type="text/css" href="/css/downProfile.css">
	<link rel="stylesheet" type="text/css" href="/css/scrollDown.css">
    <link rel="stylesheet" type="text/css" href="/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/css/title.css">
	<link rel="stylesheet" type="text/css" href="/css/gallery.css">
	<link rel="stylesheet" type="text/css" href="/css/media.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/korkorban.css">
	<link rel="stylesheet" type="text/css" href="/css/fontello.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script type="text/javascript" src="https://rawgit.com/wagamamajuliet/myapp/master/jquery"></script>
	<script type="text/javascript" src="js/jquery.cycle2.min.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="css/responsive.css"> -->
	<title>korkorban</title>
	<style type="text/css">
		#cart-show,
		#cart-show2 {
			top:5px;
			right:1px;
			position: absolute;
			font-size: 10px;
			line-height: 20px;
			text-align: center;
			width:25px;
			height:25px;
			color:white;
			border-radius:25px;
			background-color:#6a4057;
			border:2px solid white;
		}
	</style>
</head>
<body>
	{{>header}}
	{{{body}}}
	<div class="downprofile">
		<div class="downprofile-center">
							<div class="astral-header-Right-Down-Down">
								<div class="astral-header-Right-Down-Down-Grid user">
									<div class="astral-header-Right-Down-Down-Up">
										<i class="icon-user"></i>
									</div>
									<div class="astral-header-Right-Down-Down-Down">
										<p>USER</p>
									</div>
									<div class="user2">
				                        {{# if login }}
				                            <li class="logliUp"><a href="/profile">PROFILE</a></li>
				                            <li class="logliDown"><a href="/logout">LOGOUT</a></li>
				                        {{ else }}
				                            <li class="logliUp"><a href="/signin">LOGIN</a></li>
				                            <li class="logliDown"><a href="/signup">SIGN UP</a></li>
				                        {{/if}}	
									</div>
								</div>
								<div class="astral-header-Right-Down-Down-Grid cartClick">
									<div id="cart-show2"></div>
									<div class="astral-header-Right-Down-Down-Up">
										<i class="icon-basket"></i>
									</div>
									<div class="astral-header-Right-Down-Down-Down">
										<p>CART</p>
									</div>
								</div>
								<div class="astral-header-Right-Down-Down-Grid">
									<div class="astral-header-Right-Down-Down-Up">
										<i class="icon-doc-text"></i>
									</div>
									<div class="astral-header-Right-Down-Down-Down">
										<P>NOTICE</P>
									</div>
								</div>
								<div class="astral-header-Right-Down-Down-Grid">
									<div class="astral-header-Right-Down-Down-Up">
										<i class="icon-help"></i>
									</div>
									<div class="astral-header-Right-Down-Down-Down">
										<P>FAQ</P>
									</div>
								</div>
							</div>	
		</div>
	</div>
	<script type="text/javascript" src="/js/korkorban.js"></script>
	<script type="text/javascript" src="/js/shopping.js"></script>
