	.gallery {
		height: 400px;
		position: relative;
		padding-left: 5%;
		padding-right: 5%;				
		width: 100%;
	}

.gallery-Down {
  position: relative;
  width:100%;
  height: 100px;
}
/* generic css */

.gallery-Col {
  width:23%;
  margin: 1%;
  padding: 1%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
}

.gallery-Col .gallery-Gra,
.gallery-Col .content {
  width:100%;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.gallery-Col .img1 {
  display: block;
}
.gallery-Grid {
  position: relative;
  overflow: hidden;
  width:100%;
  height:100%;
}
.gallery-Col h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 30px;
  padding: 10px;
  margin: 20px 0 0 0
}

.gallery-Col p {
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.gallery-Col .info {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  /*background-color: black;*/
  background-color: #6a4057;
  color:white;
  border:1px solid white;
  text-transform: uppercase;
  color: #e0dfdc;
 text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 10px 10px rgba(0, 0, 0, 0.9);
}

.gallery-Col .info:hover {
  cursor: pointer;
  transition: 0.7s;
  color:black;
  border:1px solid black;
  background-color: white;
  box-shadow: 0 0 5px #000
}

.gallery-Col .info2 {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 7px 23px;
  /*background-color: black;*/
  background-color: #6a4057;
  color:white;
  border:1px solid white;
  text-transform: uppercase;
  color: #e0dfdc;
 text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 10px 10px rgba(0, 0, 0, 0.9);
}

.gallery-Col .info2:hover {
  cursor: pointer;
  transition: 0.7s;
  color:black;
  border:1px solid black;
  background-color: white;
  box-shadow: 0 0 5px #000
}
/*1*/

.gallery-Col .img1 {
  /*1*/
  transition: all 0.2s linear;
  width:100%;
  height: 300px;
}
.gallery-Col .img2 {
  /*1*/
  transition: all 0.2s linear;
  width:50px;
  height: 50px;
}
.gallery-Col .gallery-Gra {
  opacity: 0;
  background-color: rgba(106, 64, 87, 0.44);
  transition: all 0.4s ease-in-out;
}

.gallery-Col h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.gallery-Col .img2 {
  width:50px;
  height:50px;
  transform: translateY(10px);
  /*opacity: 0;*/
  transition: all 0.2s linear; 
}
.gallery-Col p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.gallery-Col a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.gallery-Col a.info2 {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* */

.gallery-Col:hover .img1 {
  transform: scale(1.1);
}

.gallery-Col:hover .gallery-Gra {
  opacity: 1;
}

.gallery-Col:hover h2,
.gallery-Col:hover p,
.gallery-Col:hover a.info,
.gallery-Col:hover a.info2 {
  opacity: 1;
  transform: translateY(10px);
}

.gallery-Col:hover p {
  transition-delay: 0.1s;
}

.gallery-Col:hover a.info,
.gallery-Col:hover a.info2 {
  transition-delay: 0.2s;
}
.gallery-Down-title {
  position: relative;
  color:#a11070;
}
.gallery-Down-description {
  position: relative;
  color:#a11070;
}
.gallery-Down-price {
  position: absolute;
  color:#a11070;
  top:0px;
  right:0px;
}
