{{#if hasErrors}}
		<div class="alert-Error">
			{{# each messages }}
				<p>{{this}}</p>
			{{/each}}
		</div>
		{{/if}}
		<form action="/signup" method="post">
			<div class="login-Grid-header">
				<div class="login-Grid-Grid-header">
					<div class="login-Grid-header-header">FORM</div>
				</div>
				<div class="login-Grid-Grid-main">
					<div class="login-input">
						<div class="login-left">NAME</div>
						<div class="login-right">
							<input type="text" name="name" class="loginInput">
						</div>
					</div>
					<div class="login-input">
						<div class="login-left">EMAIL</div>
						<div class="login-right">
							<input type="text" name="email" class="loginInput">
						</div>						
					</div>
					<div class="login-input">
						<div class="login-left">PASSWORD</div>
						<div class="login-right">
							<input type="password" name="password" class="loginInput">
						</div>						
					</div>
				</div>
				<input type="hidden" name="_csrf" value="{{ csrfToken }}">
				<div class="login-Grid-Grid-footer">
				<button type="submit" class="login-Grid-footer-footer">SIGN UP</button>
				</div>
			</div>
		</form>